<?xml version="1.0" encoding="utf-8"?>
<Objectivity>
  <globalSettings>
    <defaultSessionPool softLimit="10"
                        hardLimit="10"
                        sessionWait="-1">
      <session initialSmallObjectPageSpace="20000"
               maximumSmallObjectPageSpace="50000"
               initialNumberOfLargeObjectEntries="20000"
               maximumNumberOfLargeObjectEntries="50000"
               largeObjectMemoryLimit="0"
               defaultMrowMode="MROW"
               connectRetries="2"
               serverTimeout="25"
               enableLockConflictInformation="false"/>
    </defaultSessionPool>
  </globalSettings>
  <sessionPools>
    <sessionPool name="read_pool"
               purposes="read"
               softLimit="10"
               hardLimit="10"
               sessionWait="-1">
      <session defaultMrowMode="MROW"
               initialSmallObjectPageSpace="10000"
               maximumSmallObjectPageSpace="50000"/>
    </sessionPool>
    <sessionPool name="read_pool_nomrow"
               purposes="read_nomrow"
               softLimit="10"
               hardLimit="10"
               sessionWait="-1">
      <session defaultMrowMode="NoMROW"
               initialSmallObjectPageSpace="10000"
               maximumSmallObjectPageSpace="50000"/>
    </sessionPool>
    <sessionPool name="write_pool"
               purposes="write"
               softLimit="10"
               hardLimit="10"
               sessionWait="-1">
      <session defaultMrowMode="NoMROW"
               initialSmallObjectPageSpace="10000"
               maximumSmallObjectPageSpace="20000"/>
    </sessionPool>
  </sessionPools>
  <LocationPreferences allowNonPreferredLocations="true">
    <LocationPreferenceRank>
      <LocalHost value="true"/>
    </LocationPreferenceRank>
  </LocationPreferences>
</Objectivity>
